.wrapper-div{
    text-align: center;
    padding: 10px;
    background-color: rgb(213, 236, 200);
    margin-bottom: 4px;
}
.adding-div{
    background-color: rgb(28, 209, 28);
    width:50%;
    margin: auto;
    border-radius: 5px;
    height:30%;
    padding:8px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}